<!DOCTYPE html>
<html >
<head>
  <title>Preditor - Happiness Report</title>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="bootstrap.min.css">

</head>

<body>
 <div class="login">
    <h1>Preditor de Felicidade</h1>

    <form action="{{ url_for('predict')}}"method="post">


            <select class="form-control" id="exampleFormControlSelect1">
                <label for="exampleFormControlSelect1">Example select</label>
                <option>Australia and New Zealand</option>
                <option>Central and Eastern Europe</option>
                <option>Eastern Asia</option>
                <option>Latin America and Caribbean</option>
                <option>Middle East and Northern Africa</option>
                <option>North America</option>
                <option>Southern Asia</option>
                <option>Southeastern Asia</option>
                <option>Sub-Saharan Africa</option>
                <option>Western Europe</option>
            </select>
        <input type="text" name="Region" placeholder="Region" required="required" />
        <input type="text" name="GDP" placeholder="GDP" required="required" />
        <input type="text" name="Family" placeholder="Family" required="required" />
        <input type="text" name="Health" placeholder="Health" required="required" />
        <input type="text" name="Freedom" placeholder="Freedom" required="required" />
        <input type="text" name="Corruption" placeholder="Corruption" required="required" />
        <input type="text" name="Generosity" placeholder="Generosity" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Prever!</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
